<div [@routerTransition]>

        <app-page-header [heading]="'Contract Timeline'" [icon]="'fa fa-list'"></app-page-header>
    
      
    
     
    
        <div id="timeline" class="page">
    
     
    
            <div class="hero list-page">
    
              <div class="row-fluid">
    
                <!-- <div class="span3">
    
                  <img src="/images/timeline-icon.png"></div> -->
    
                    <div class="span9">
        
                    <h1>{{Contract.dealName}}</h1> 
    
                </div>
    
              </div>
    
            </div>
    
            <div class="timeline">
    
              <div style="clear:both;"></div>
    
              <div class="separator"></div>
    
             
    
                <div class="date">July 9, 2019</div><div class="timeline-entry g0-group" name="Angular-4.2.2" data-group="Angular" data-groupid="g0" data-date="2019-07-09" style="border-color: rgb(249, 186, 65);">
    
                  <div class="metadata">
    
                    <!-- <a href="" class="anchor"> -->
    
                      <span class="group">Contract Executed</span>    
                            
                    <!-- </a> -->
    
                      
                  </div>
    
                  <div class="content">
    
                    <ul>
    
        <li>Univision: Assigned Programs - Infinity War </li>   
        
        </ul>
    
                  </div>
    
                </div>
    
             
                <div class="date">July 8, 2019</div><div class="timeline-entry g0-group" name="Angular-4.2.2" data-group="Angular" data-groupid="g0" data-date="2019-07-09" style="border-color: rgb(249, 186, 65);">
    
                        
                        <div class="metadata">
          
                                <!-- <a href="" class="anchor"> -->
                
                                  <span class="group">Payment Completed</span>    
                                        
                                <!-- </a> -->
                
                                  
                              </div>
                
                              <div class="content">
                
                                <ul>
                                
                    <li>Netflix: Completed payment - 2000 USD </li>   
                    
                    </ul>
                
                              </div>

                              <div class="metadata">
          
                                    <!-- <a href="" class="anchor"> -->
                    
                                      <span class="group">Approved Contract</span>    
                                            
                                    <!-- </a> -->
                    
                                      
                                  </div>
                    
                                  <div class="content">
                    
                                    <ul>
                                          <li>Netflix: Approved Contract </li> 
                       
                        
                        </ul>
                    
                                  </div>
                    
                    </div>

                    <div class="date">July 8, 2019</div><div class="timeline-entry g0-group" name="Angular-4.2.2" data-group="Angular" data-groupid="g0" data-date="2019-07-09" style="border-color: rgb(249, 186, 65);">
    
                            <div class="metadata">
              
                              <!-- <a href="" class="anchor"> -->
              
                                <span class="group">Contract viewed</span>    
                                      
                              <!-- </a> -->
              
                                
                            </div>
              
                            <div class="content">
              
                              <ul>
                                    <li>Dealmaker: Viewed Contract </li>                         
                  
                  </ul>
              
                            </div></div>

                        <div class="date">July 8, 2019</div><div class="timeline-entry g0-group" name="Angular-4.2.2" data-group="Angular" data-groupid="g0" data-date="2019-07-09" style="border-color: rgb(249, 186, 65);">
    
                                <div class="metadata">
                  
                                  <!-- <a href="" class="anchor"> -->
                  
                                    <span class="group">Contract created</span>    
                                          
                                  <!-- </a> -->
                  
                                    
                                </div>
                  
                                <div class="content">
                  
                                  <ul>
                                        <li>Univision: Created Contract </li>                         
                      
                      </ul>
                  
                                </div></div>
                                
    
              
    
            </div>
    
       
    
          </div>
    
    </div>